﻿<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
<div id="body">
    
    @Html.TextBox("SearchString")
    <input type="submit" value="Search" id="Search"/>
    
</div>

<script language="javascript">
    $("#Search").click(function() {
        var str = $('#SearchString').val();
        console.log(str);
        $.get("http://localhost:22300/home/search?searchParameter=", str, function(data) {
            var titles = data;
            for(title in titles)
            {
                $('#body').html('<ul><li>'+title+'</li></ul>');
            }
        });
    });
    
</script>