﻿@model Search.Data.Models.Title
<div>
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.TitleId)</th>
            <th>@Html.DisplayNameFor(model => model.TitleName)</th>
            <th>@Html.DisplayNameFor(model => model.ReleaseYear)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.TitleId)</td>
            <td>@Html.DisplayFor(model => model.TitleName)</td>
            <td>@Html.DisplayFor(model => model.ReleaseYear)</td>
        </tr>
            
    </table>
</div>

