﻿<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
<div id="body">

    @Html.TextBox("SearchString")
    <input type="submit" value="Search" id="Search" />

    <div id="result"></div>

</div>

<script language="javascript">
    $(document).ready(function () {
        $("#Search").click(function () {
            var str = $('#SearchString').val();
            if (str == "") {
                $("#result").html("<font color=\"red\"<b>&nbsp&nbspPlease enter a Search string");
                $("#SearchString").css('border-color', 'red');
            } else {
                $("#SearchString").css('border-color', 'transparent');
                console.log(str);
                $.getJSON("/home/Search", { searchParameter: str }, function (data) {
                    if (data.length == 0)
                        return $("#result").html("<font color=\"red\"<b>&nbsp&nbspNo Results found");

                    var items = [];
                    $.each(data, function (i, e) {
                        $.each(e, function (key, val) {
                            if (key == "TitleName")
                                items.push("<li id='" + key + "'><a href=\"home/details?name=" + val + "\"> &nbsp&nbsp" + key + ": " + val + "</li>");

                        });

                    });
                    $("#result").html(items);
                });
            }
        });
    });

</script>
